@model IEnumerable<ShukRouting.Mvc.Models.StallModel>

@{
    ViewBag.Title = "Stalls Details";
}

<h2>Stalls Details</h2>

<div class="row">
    <hr />
    @foreach (var item in Model)
    {
        <div id="details" class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StallID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.StallID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StallName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.StallName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstCoord)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.FirstCoord)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecondCoord)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.SecondCoord)
                </dd>

            </dl>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
