@model IEnumerable<ShukRouting.Mvc.Models.CommodityModel>

@{
    ViewBag.Title = "Commodity Details";
}

<h4>Commodity Details</h4>

<div class="row">
    <hr />
    @foreach (var item in Model)
    {
        <div id="details" class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CommodityID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.CommodityID)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CommodityName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.CommodityName)
                </dd>
            </dl>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {@*id = item.CommodityID*@}) |
    @Html.ActionLink("Back to List", "Index")
</p>
