@model IEnumerable<ShukRouting.Models.StallModel>

@*@{
        ViewBag.Title = "Details";
    }*@
<div id="partialDetails">
    <h2>details</h2>

    <div>
        @*<h4>Stall Model</h4>*@
        <hr />
        @foreach (var item in Model)
        {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StallID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.StallID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StallName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.StallName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstCoord)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.FirstCoord)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecondCoord)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.SecondCoord)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CommodityID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.CommodityID)
                </dd>

            </dl>
        }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
@*<p>HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</p>*@